.portfolio {
  overflow: hidden;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  width: 25%;
  padding: 2px;
}

.portfolio__item-link {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item-content {
  z-index: 2;
  position: absolute;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.portfolio__item-description {
  font-size: 1.12rem;
  margin-top: 38px;
}

.portfolio__item-link > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio__item-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
  z-index: 1;
  top: 0;
  cursor: pointer;
  -webkit-animation: fade-in 0.5s ease;
          animation: fade-in 0.5s ease;
}

.portfolio__item-link:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    background-color: white;
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 67, 67, 0.8);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    background-color: white;
  }
  100% {
    opacity: 1;
    background-color: rgba(255, 67, 67, 0.8);
  }
}
@media screen and (max-width: 1170px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .portfolio-img__pic {
    width: 100%;
  }
}