.slide-img {
  width: 741px;
}

.slide-item {
  background: #5c3249;
}

.slide-title {
  width: 471px;
}

.slide-title h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  line-height: 48px;
  color: #e2f0e2;
  font-family: "Cardo";
}